<%= form_for(provider) do |f| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
     <%#= form.label :last_name %>
    <%= f.text_field :name, placeholder: "Your name" %>
  </div>


  <%= f.text_field :treatment, placeholder: "Your treatment" %>
  <%#= f.integer_field :price, placeholder: "Your price" %>
  <%= f.text_field :location, placeholder: "Your location" %>
  <%= f.text_field :language, placeholder: "Your language" %>
  <div align="center">Image upload</div>
  <%= f.file_field :image, multiple: true, placeholder: "Upload your image[s]" %>
  <div align="center">Qualification upload</div>
  <%= f.file_field :image, multiple: true, placeholder: "Upload your qualification[s]" %>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>


