
<%= form_for(provider) do |f| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label "Username" %>
  <%= f.text_field :username, placeholder: "Your name" %> <br/> 
  <%= f.label "Treatment Price" %>
  <%= f.text_field :price, placeholder: "Your price" %><br/>
  <%= f.label "Gender" %>
  <%= f.select(:gender, [ 'Male', 'Female' ], {}, { :class => 'select' }) %><br/>
  <%= f.label "Location" %>
  <%= f.text_field :location, placeholder: "Your location" %><br/>
  <%= f.label "Language" %>
  <%= f.text_field :language, placeholder: "Your language" %><br/>
  <div>Image upload
  <%= f.file_field :image, multiple: true, placeholder: "Upload your image" %></div>
  <div>Qualification upload
  <%= f.file_field :qualification, multiple: true, placeholder: "Upload your qualification[s]" %></div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>


