<div id="provider-listings">

  <p id="notice"><%= notice %></p>

  <div class="header-container">     

      <div class="header-background"></div>

      <div class="search-container">
            <%= form_tag search_path, remote: true do%>
                <p class="search-field"><%= text_field_tag "treatment", nil, placeholder: "by treatment", id:"search-field"%></p>
                <p class="search-field"><%= text_field_tag "location", nil, placeholder: "by location", id:"search-field"%></p>
                <p class="search-field"><%= text_field_tag "language", nil, placeholder: "by language", id:"search-field"%></p>
                <p class="search-field">
                    <%= text_field_tag "min_price", nil, placeholder: "min price", id:"search-field-price"%> 
                    <%= text_field_tag "max_price", nil, placeholder: "max price", id:"search-field-price"%>
                </p>
                <%= submit_tag "Search", class:"btn btn-danger search-button"%>
            <%end%>
      </div>

  </div>


  <%if @providers.length > 0%>

      <div class="container">
        <div class="row">    

          <% @providers.each do |provider| %>

               <div class="col-3">        

                    <%provider.image.each do |img| %>
                      <p class ="image-container"> <%= image_tag img.url, class: "provider-image"%> </p>
                    <%end%>

                    <div class="description-container">
                      <p class="provider-listing-description"> Name: <%= provider.name%> </p>       
                      <p class="provider-listing-description"> Treatment: <%= provider.treatment%> </p>
                      <p class="provider-listing-description"> Location: <%= provider.location%> </p>
                      <p class="provider-listing-description"> Language: <%= provider.language%> </p>  
                    </div>

                    <%= link_to raw('<span></span>'), new_provider_appointment_path(provider), class: "show-button" %> 

               </div>

          <% end %>

        </div>
      </div>

  <%else%>
      
      <p class="no-search-result"><i><%= "Your search did not match any result. Please try again." %></i></p>
  
  <%end%>


</div>