
<div>Username:  <%= current_user.username %></div><br>
<div>First Name: <%= current_user.first_name %></div><br>
<div>Last Name: <%= current_user.last_name %></div><br>
<div>Password: ******</div><br>
<div>Language:  <%= current_user.language%></div><br>
<div>Gender:  <%= current_user.gender %></div><br>
<div>Treatment: <%= current_user.treatment %></div><br>
<div>Location: <%= current_user.location %></div><br>
<div>Email: <%= current_user.email %></div><br>
  <%= link_to 'Edit', edit_provider_path(@provider) %>