<div id="form_provider profile_form">

<div>Username: </span> <%= current_user.name %></div>
<div>Treatment: </span> <%= current_user.treatment %></div>
<div>Price: </span> <%= current_user.price %></div>
<div>First Name: </span> <%= current_user.first_name %></div> 
<div>Last Name: </span> <%= current_user.last_name %></div>
<div>Language: </span>  <%= current_user.language%></div>
<div>Email: </span> <%= current_user.email %></div>
<div>Location: </span> <%= current_user.location %></div>
<div>Gender:  </span> <%= current_user.gender %></div>
<div>Type:  </span> <%= current_user.type %></div>
<br><br>
<%= link_to 'Edit', edit_provider_path(@provider), :class => "edit_profile_button" %>
</div>
