<p id="notice"><%= notice %></p>

<h1>Providers</h1>


<%= form_tag search_path do%>
  <%= text_field_tag "treatment", nil, placeholder: "by treatment" %>
  <%= text_field_tag "location", nil, placeholder: "by location" %>
  <%= text_field_tag "language", nil, placeholder: "by language" %>

  <%= submit_tag "Search" %> 
<%end%>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name%></td>        
        <td><%= provider.price%></td>
        <td><%= provider.treatment%></td>
        <td><%= provider.location%></td>
        <td><%= provider.language%></td>                
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
