<p id="notice"><%= notice %></p>

<h1>Providers</h1>

<%= form_tag search_path, remote: true do%>

  <%= text_field_tag "treatment", nil, placeholder: "by treatment"%>
  <%= text_field_tag "location", nil, placeholder: "by location"%>
  <%= text_field_tag "language", nil, placeholder: "by language"%>
  <%= text_field_tag "min_price", nil, placeholder: "min price"%>
  <%= text_field_tag "max_price", nil, placeholder: "max price"%>

  <%= submit_tag "Search"%>
<%end%>


<div id="provider-listings">
  
  <div class="container">
    <div class="row">    

      <% @providers.each do |provider| %>

           <div class="col-4">        

                 <%provider.image.each do |img| %>
                   <p> <%= image_tag img.url%> </p>
                 <%end%>

                 <p> Name: <%= provider.name%> </p>       
                 <p> Treatment: <%= provider.treatment%> </p>
                 <p> Location: <%= provider.location%> </p>
                 <p> Language: <%= provider.language%> </p>  
          
                 <a class = "show-button" > <%= link_to ' ', provider %> </a>
                 <%#= link_to 'Edit', edit_provider_path(provider) %>
                 <%#= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %>

           </div>

      <% end %>

    </div>
  </div>

</div>

<br>

<%= link_to 'New Provider', new_provider_path %>

