    <div id="search_background">
        <%= image_tag("beach2.jpg", id:"search_background", :alt => "A background should be here in search", :size => "300") %>
    </div>

<div id="search_form">
<%= form_tag search_path do%>

    <div id="s_search_container">

        <div id="s_treatment" class="s_form-group">
            <label for="treatment"> I am looking for: </label>
            <%= text_field_tag "treatment", nil, placeholder: "  dental cleaning"%>
        </div>    
          

        <div id="s_search_container_row">
        

            <div id="s_location" class="s_form-group">
                <label for="location">near:</label>
                <%= text_field_tag "location", nil, placeholder: "  tokyo"%>
            </div>   

            <div id="s_min_price" class="s_form-group">
                <label for="min_price"> min price:</label>
                <%= text_field_tag "min_price", nil, placeholder: "  20"%>
            </div>

                
        </div>     

        <div id="s_search_container_row_two">
            <div id="s_language" class="s_form-group">
                <label for="language">speaks: </label>
                <%= text_field_tag "language", nil, placeholder: "  french"%>
            </div>   

            <div id="s_max_price" class="s_form-group">
                <label for="max_price"> max price: </label>
                <%= text_field_tag "max_price", nil, placeholder: "  80"%>
            </div>

            <div id="s_search_button" class="s_search_button">
                <%= image_submit_tag ('search_button.svg')%>
            </div>
        
        </div>
        
        <%end%>
    </div>
        </form>
    
</div>

<div id="provider-listings">

  <p id="notice"><%= notice %></p>

  <%if @providers.length > 0%>

      <div class="container">
        <div class="row">    

          <% @providers.each do |provider| %>

               <div class="col-3">        

                    <%provider.image.each do |img| %>
                      <p class ="image-container"> <%= image_tag img.url, class: "provider-image"%> </p>
                    <%end%>

                    <div class="description-container">
                      <p class="provider-listing-description"> Name: <%= provider.name%> </p>       
                      <p class="provider-listing-description"> Treatment: <%= provider.treatment%> </p>
                      <p class="provider-listing-description"> Location: <%= provider.location%> </p>
                      <p class="provider-listing-description"> Language: <%= provider.language%> </p>  
                    </div>

                    <%= link_to raw('<span></span>'), new_provider_appointment_path(provider), class: "show-button" %> 

               </div>

          <% end %>

        </div>
      </div>

  <%else%>
      
      <p class="no-search-result"><i><%= "Your search did not match any result. Please try a different search." %></i></p>
  
  <%end%>


</div>