<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Profile</h1>
  <p>
    <%= image_tag current_user.image + "?type=large" %>
  </p>

<div>Username:  <%= current_user.username %></div>
<div>Language:  <%= @provider.language%></div>
	<%= form_tag provider_profile_path,method: :get, remote: true do %>
	<%= submit_tag 'Appointment' %>
	<% end %>

<div id="appointmentRecord">
</div>
</body>
</html>