<div id="searchpage_font">
<% @providers.each do |search_result| %>
  <p>Name: <%= search_result.name%></p>
  <p>Treatment: <%= search_result.treatment%></p>
  <p>Price: <%= search_result.price%></p>
  <p>Location: <%= search_result.location%></p>
  <p>Language: <%= search_result.language%></p>
<%end%>
</div>
