<p id="notice"><%= notice %></p>


<% if signed_in? == false %>
  <% controller.redirect_to welcome_index_path %>
<% else %>
  <%= link_to 'Edit', edit_provider_path(@provider) %> |
  <%= link_to 'Back', providers_path %>
<% end %>

Just displaying the image and the qualification
<img src=<%= @provider.image.first %> ><br/>
<% if @provider.qualification.include?".pdf" %>
<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=<%= @provider.qualification.first %>" width="500" height="375">
<% else %>
<img src=<%= @provider.qualification %> > <br/>
<%end%>

