<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Profile</h1>
  <p>
  	<% if %>
  	<%= image_tag image_url("https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-old-lady-3295dab3713f6121-512x512.png"), :size => "150x150" %>
  	<% else %>
    <%= image_tag current_user.image %>
    <% end %>
  </p>

<div>Username:  <%= current_user.username %></div><br>
<div>First Name: <%= current_user.first_name %></div><br>
<div>Last Name: <%= current_user.last_name %></div><br>
<div>Password: <%= current_user.password %></div><br>
<div>Language:  <%= current_user.language%></div><br>
<div>Gender:  <%= current_user.gender %></div><br>
<div>Treatment: <%= current_user.treatment %></div><br>
<div>Location: <%= current_user.location %></div><br>
<div>Email: <%= current_user.email %></div><br>

	<%= link_to 'Edit', edit_provider_path(@provider) %>

<div id="appointmentRecord">
		<%= form_tag provider_path,method: :get, remote: true do %>
	<%= submit_tag 'Appointment' %>
	<% end %>
</div>
</body>
</html>



