<img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2017/03/zocdoc_feat.jpg" class="imgtop" height="750px">
<div class="providerBackground">
<p>
<div class="profileContainer">

  </div>
</p>
<div id="profileForm">
  <div class="btn-group">
  <h1>
    <%= form_tag provider_path, method: :get, remote: true do %>
    <%= button_tag 'Profile', :class => "buttonProvider", :id => 'ProfileButton'%>
    <%end%>
  </h1>
  <h1>
    <%= form_tag provider_path, method: :get, remote: true do %>
    <%= button_tag 'Appointment', :class => "buttonProvider", :id => "AppointmentButton" %>
    <%end%>
  </h1></div><br>
  <div id="myModal" class="modal">
  <span class="close">×</span>
  <%= image_tag @provider.image.first, :size => "300x400", :class => "modal-content", :id => "imageProvider"%>
  <div id="caption"></div>
</div>

<div id ="appointmentShow"></div>
<div id="profileOfTheProvider">
<%= render 'provider' %>
</div>
</div>
</div>
<script>
var modal = document.getElementById('myModal');


var img = document.getElementById('imageProvider');
var modalImg = document.getElementById("imageProvider");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>
