<p id="notice"><%= notice %></p>

Just displaying the image and the qualification
<img src=<%= @provider.image.first.url %> ><br/>
<% if @provider.qualification.first.url.include?".pdf" %>
<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=<%= @provider.qualification.first.url %>" width="500" height="375">
<% else %>
<img src=<%= @provider.qualification.first.url %> > <br/>
<%end%>


<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
