<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Profile</h1>
  <p>
    <%= image_tag current_user.image + "?type=large" %>
  </p>

<div>Username:  <%= current_user.username %>
</div>
</div><br>
<div>Language:  <%= @provider.language%>
	<%#= form_tag provider_path,method: :get, remote: true do %>
	<%#= submit_tag 'Edit' %>
	<%# end %>
</div><br>
<div>Gender:  <%= current_user.gender %>
	<%= link_to 'Edit', edit_provider_path(@provider) %>
</div><br>
<div>Contact: <%= current_user.phone_number %>
	<%= link_to 'Edit', edit_provider_path(@provider) %>
</div><br>


<div id="appointmentRecord">
	
</div>
</body>
</html>
