  <h2><%= t("Step 1: " + ".title") %></h2>

  <div><b> EITHER: </b></div>
  <%= form_for @user do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="text-field">
      <%= form.label :username %>
      <%= form.text_field :username, type: 'username' %>
    </div>

    <div class="text-field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="text-field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="text-field">
      <%= label :type_patient, 'Patient' %>
      <%= form.radio_button :type, 'patient', :checked => true %>
      <%= label :type_provider, 'Provider' %>
      <%= form.radio_button :type, 'provider', :checked => true %>
    </div>

    <br/>
    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>

  <br/>

  <div><b> OR: </b></div>
  <div> Sign up with Facebook <%= link_to "here", "/auth/facebook" %> </div>

</div>
