<div id="lightblue_background">
  <%= inline_svg "lightblue_homepage_background", class: 'lightblue_background' %> 
</div>

<div class="homepage_center">
    <div id="healfly_logo_text"> 
      <p id=title_healfly>healfly</p>   
    </div>

    <div id="paperpill">
      <%= inline_svg "paperpill.svg", class: 'paperpill' %> 
    </div>

    <div id="turquoise_icon_squares">
      <%= inline_svg "turquoise_icon_squares", class: 'turquoise_icon_squares' %> 
    </div>

    <p class="motto"> get  </p>
    <p id="motto_care" class="motto"> care </p>
    <p id="motto_ampersand" class="motto"> &    </p>
    <p id="motto_treat" class="motto"> treat </p>
    <p id="motto_yourself" class="motto"> yourself </p>

    <%= form_tag search_path do%>

    <div id="search_container">

        <div id="treatment" class="form-group">
            <label for="treatment"> I am looking for: </label>
            <%= text_field_tag "treatment", nil, placeholder: "  dental cleaning"%>
        </div>    
          

        <div id="search_container_row">
        

            <div id="location" class="form-group">
                <label for="location">near:</label>
                <%= text_field_tag "location", nil, placeholder: "  tokyo"%>
            </div>   

            <div id="min_price" class="form-group">
                <label for="min_price"> min price:</label>
                <%= text_field_tag "min_price", nil, placeholder: "  20"%>
            </div>

                
        </div>     

        <div id="search_container_row_two">
            <div id="language" class="form-group">
                <label for="language">speaks: </label>
                <%= text_field_tag "language", nil, placeholder: "  french"%>
            </div>   

            <div id="max_price" class="form-group">
                <label for="max_price"> max price: </label>
                <%= text_field_tag "max_price", nil, placeholder: "  80"%>
            </div>

            <div id="search_button" class="search_button">
                <%= image_submit_tag ('search_button.svg')%>
            </div>
        
        </div>
        
        <%end%>
    
        </form>
    
</div>

    <div id="black_split_line">
      <%= inline_svg "black_split_line.svg", class: 'black_split_line' %> 
    </div>

    <div id="maptable">
    <%= image_tag("maptable.jpg", id:"maptable", :alt => "A photograph of a table with a map should be here") %>
    </div>

<br> <br> <br> 
<br> <br> <br>  
