<div id="lightblue_background">
  <%= inline_svg "lightblue_homepage_background", class: 'lightblue_background' %> 
</div>

<div class="homepage_center">
    <div id="healfly_logo_text"> 
      <p id=title_healfly>healfly</p>   
    </div>

    <div id="paperpill">
      <%= inline_svg "paperpill.svg", class: 'paperpill' %> 
    </div>

    <div id="turquoise_icon_squares">
      <%= inline_svg "turquoise_icon_squares", class: 'turquoise_icon_squares' %> 
    </div>

    <p class="motto"> get  </p>
    <p id="motto_care" class="motto"> care </p>
    <p id="motto_ampersand" class="motto"> &    </p>
    <p id="motto_treat" class="motto"> treat </p>
    <p id="motto_yourself" class="motto"> yourself </p>

    <%= form_tag search_path do%>

    <div id="search_container">

        <div id="treatment" class="form-group">
            <label for="treatment"> I am looking for: </label>
            <%= text_field_tag "treatment", nil, placeholder: "  dental cleaning"%>
        </div>    
          

        <div id="search_container_row">
        

            <div id="location" class="form-group">
                <label for="location">near:</label>
                <%= text_field_tag "location", nil, placeholder: "  tokyo"%>
            </div>   

            <div id="min_price" class="form-group">
                <label for="min_price"> min price:</label>
                <%= text_field_tag "min_price", nil, placeholder: "  20"%>
            </div>

                
        </div>     

        <div id="search_container_row_two">
            <div id="language" class="form-group">
                <label for="language">speaks: </label>
                <%= text_field_tag "language", nil, placeholder: "  french"%>
            </div>   

            <div id="max_price" class="form-group">
                <label for="max_price"> max price: </label>
                <%= text_field_tag "max_price", nil, placeholder: "  80"%>
            </div>

            <div id="search_button" class="search_button">
                <%= image_submit_tag ('search_button.svg')%>
            </div>
        
        </div>
        
        <%end%>
    
        </form>
    
</div>

    <div id="black_split_line">
        <%= inline_svg "black_split_line.svg", class: 'black_split_line' %> 
    </div>

    <div id="maptable">
        <%= image_tag("maptable.jpg", id:"maptable", :alt => "A photograph of a table with a map should be here") %>
    </div>
    
    <p id="our_solution">   
        Our solution was born <br> at the intersection <br>
        of health and travel. 
    </p>
    
    <div id="black_split_line_2">
        <%= inline_svg "black_split_line.svg", class: 'black_split_line' %> 
    </div>
    
    <div id="we_wants">
        <p id="we_want_1">
        We want to motivate everyone <br> to experience the world <br> while on their medical journey. 
        <p>
        
        <p id="we_want_2">
        We want everybody to know <br> they can invest in their health <br> while traveling. 
        </p>

        <p id="we_want_3">
        We want to organize <br> global healthcare possibilities <br> to save you time and money.
        </p> 
    </div>
    
    <div id="black_split_line_3">
        <%= inline_svg "black_split_line.svg", class: 'black_split_line' %> 
    </div>

     <p id="a_border_free">  
     This is why we made a simple border-free marketplace <br> where the transparency and affordability of our healthcare <br> does not rely on national politics but rather global talent.
    <br><br>
     This is why we created Healfly. 
    </p> 

   