<div id="formProvider">
	
<div class="prov_text">Username:  <%= current_user.username %></div>
<div class="prov_text">First Name: <%= current_user.first_name %></div>
<div class="prov_text">Last Name: <%= current_user.last_name %></div>
<div class="prov_text">Email: <%= current_user.email %></div><br>
<div class="prov_text">Language:  <%= current_user.language%></div>
<div class="prov_text">Treatment: <%= current_user.treatment %></div>
<div class="prov_text">Location: <%= current_user.location %></div>
<div class="prov_text">Gender:  <%= current_user.gender %></div><br>
<%= link_to 'Edit', edit_patient_path(@patient), :class => "editProvider prov_text" %>
</div>