<div id="formProvider">

<br><br><br><br><br><br>	
<div>Username:  <%= current_user.username %></div>
<div>First Name: <%= current_user.first_name %></div>
<div>Last Name: <%= current_user.last_name %></div>
<div>Email: <%= current_user.email %></div>
<div>Gender:  <%= current_user.gender %></div> <br>
  <%= link_to 'Edit', edit_patient_path(@patient), :class => "editProvider" %>
</div>