<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div id="profile_form">
<div class="profileContainer">
<div id="provider_profile_picture">
    <% if @patient.profile_picture.url != nil %>
    <%= image_tag @patient.profile_picture, :size => "150x150", style:'border-radius:100px;'%>
    <% elsif @patient.fb_picture %>
    <%= image_tag @patient.fb_picture, :size => "150x150", style:'border-radius:100px;'%>
    <% else %>
    <%= image_tag image_url("https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-old-lady-3295dab3713f6121-512x512.png"), :size => "150x150" %>
    <% end %>

    
  </div>
  </div>

  <div class="btn-group">  
    <%= form_tag patient_path, method: :get, remote: true do %>
    <%= button_tag 'Profile', :class => "buttonProvider", :id => 'ProfileButton'%>
    <%end%>  
  </div>


<div class="btn-group"> <%= form_tag patient_path, method: :get, remote: true do %>
    <%= button_tag 'Appointments', :class => "buttonProvider", :id => "AppointmentButton" %>
    <%end%></div><br>
<br>
<div id ="appointmentShow"></div>
<div id="profileOfTheProvider">
<%= render 'patient' %>
</div>
</div>
