<div class="appointment-container">

        <div class="provider-info-container">
          
            <div class="bio">
                <% @provider.image.each do |img| %>
                  <p class="appointment-image-container"><%= image_tag img.url, class: "appointment-image" %></p>
                <%end%> 

                <span class ="bio-description name"><%= @provider.name %></span><br/>
                <span class ="bio-description treatment-location"><%= @provider.treatment %> | <%= @provider.location %></span><br/>
                <span class ="bio-description price">RM<%= @provider.price %> <span class="per-booking">per booking</span> </span><br/>
                <span class ="bio-description language"> Speaks <%= @provider.language %></span><br/>
                <span class ="bio-description email"><%= @provider.email %></span><br/>

                <button id="certBtn", class="btn btn-outline-primary btn-sm"> Medical Certification</button>
                <div id="myModal" class="modal">
                  <div class="modal-content-qualification">

                    <% @provider.qualification.each do |qua| %>
                      <%= image_tag qua.url, class: "qualification-image" %>
                    <%end%>
                  </div>
                </div>
            </div>

            <div class = "google-map-container">
                  <iframe class ="map"
                   height="500px"
                   frameborder="0" style="border:0"
                   src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBX8hQcoSEtucwisPltvD2u0Xsl7nZg77I
                     &q=<%= (@provider.location).gsub(/(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)/, '\1+\2+\3+\4+\5+\6+\7+\8')%>&q=seattle+washington&q=arizona" allowfullscreen>
                  </iframe><br>
            </div>

        </div>


        <div class="create-appointment-container">

            <h2 class="appointment-heading">New Appointment</h2>  

            <%= form_for ([@provider,@appointment]) do |s| %>
              <p> <%= s.label :date, "Date" %> <%= s.text_field :date, id:"dateAppoint"%> </p>
              <p><%= s.label :start_time, "Time" %> <%= s.time_select :start_time, :ignore_date => true %></p> 
              <%= s.submit %>
            <% end %>

            <%= link_to 'Back', provider_appointments_path %>

        </div>

    </div>





<script>
  flatpickr('#dateAppoint', {dateFormat: 'd-m-Y'})
  // flatpickr('#startAppoint', {dateFormat: 'h:i',enableTime: true,noCalendar: true,time_24hour: true})
  // flatpickr('#endAppoint', {dateFormat: 'h:i',enableTime: true,noCalendar: true,time_24hour: true})
</script>



<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("certBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

