<!DOCTYPE html>

<html>
  <head>
    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
    
    <!-- Flatpicker -->
   	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
   	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <title>healfly</title>
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet">

    <!-- Linking files -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    
   <!-- CSS Styling -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
            <%= link_to 'h e a l f l y', welcome_index_path, class: "nav-item", id:"navbar_logo" %>
            </button>           
      <% if signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar_fredoka_font">
                   <li class="nav-item" id="beige_text">

                    <a class="patient_icon" href=
                    <%if current_user.patient? %>
                        <%= patient_path(current_user.id) %>
                      <%else%>
                        <%= provider_path(current_user.id) %> 
                      <%end%>>

        <%if current_user.default_picture == nil %>
                      <span class="no-underline"> <%= current_user.email %> </span>
                    <%else%>
                      <img src=<%= current_user.default_picture %> height=30vw width=30vw></a>
                    <%end%>
                    <span class="no-underline"> <%= p" | " %>

                    <%= link_to 'sign out', sign_out_path, method: :delete, class: "nav-item", id:"beige_text" %>
                  </li>
                </ul>
              </div>

      <% else %>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar_fredoka_font">
                  </li> 
                   <li class="nav-item">
                    <%= link_to "join", sign_up_path, class: "nav-link", id: "beige_text", data: { toggle: "modal", target: "#signUpModalCenter"} %> </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#"> / </a> </li>
                  <li class="nav-item">
                    <%= link_to "login", sign_in_path, class: "nav-link", id: "beige_text", data: { toggle: "modal", target: "#loginModalCenter" } %>  </li>
                </ul>
              </div>

      <% end %> 
    </nav>

    <!-- Clearance flash notice -->
     <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert"> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         <%=h value %> </div>
      <% end %>
    </div>
    <br>

    <!-- Log In Modal -->
    <div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLongTitle">Sign In Here: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_tag session_path, :id => "log-in-form" do %>
              <div> Email: <%= text_field_tag 'session[email]', params[:email], :class => "form-control" %> </div>
              <br/>
              <div> Password: <%= password_field_tag 'session[password]', params[:password], :class => "form-control" %> </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/auth/facebook'">Sign In with Facebook</button>
            <%= submit_tag "Sign In", :name => nil, :class=>"btn btn-primary" %>
              <% end %>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signUpModalCenter" tabindex="-1" role="dialog" aria-labelledby="signUpModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signUpModalLongTitle">Sign Up Here: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_tag users_path, :id => "sign-up-form", remote: true do %>
              <div> Email: <%= text_field_tag 'user[email]', params[:email], :class => "form-control" %> </div>
              <div> Username: <%= text_field_tag 'user[username]', params[:username], :class => "form-control" %> </div>
              <div> First name: <%= text_field_tag 'user[first_name]', params[:first_name], :class => "form-control" %> </div>
              <div> Last name: <%= text_field_tag 'user[last_name]', params[:last_name], :class => "form-control" %> </div>
              <div> Password: <%= password_field_tag 'user[password]', params[:password], :class => "form-control" %> </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Sign Up", :name => nil, :class=>"btn btn-primary" %>
              <% end %>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/auth/facebook'">Sign Up with Facebook</button>
            
          </div>
        </div>
      </div>
    </div>
    
    <%= yield %>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>
