<!DOCTYPE html>
<html>
  <head>
    <title>Healfly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Healfly</h1>
  
      <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete, class: "button" %>
    <% else %>
      <a href="/auth/facebook">
      Login With Facebook</a>
    <% end %>

    <%= yield %>
  </body>
</html>
