<!DOCTYPE html>

<html>

  <head>
    
    <title>Healfly</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
      
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete, class: "button" %>
    <% else %>

      <%= link_to 'Sign In As Patient', user_sign_in_path %>
      <%= link_to 'Sign In As Provider', provider_sign_in_path %> 

    <% end %>

    <br>

    <%= yield %>
  </body>
</html>
