<!DOCTYPE html>

<html>
  <head>
    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
    
   	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
   	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <title>healfly</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    
   <!-- CSS Styling -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
            <%= link_to 'h e a l f l y', welcome_index_path, class: "nav-item", id:"navbar_logo" %>
            </button>           
      <% if signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar_fredoka_font">
                   <li class="nav-item" id="beige_text">
                    

                    <a class="patient_icon" href=<%= patient_path(current_user.id)%>> <img src=<%= current_user.image.first %> height=50px width=50px></a>

                    <%= p" | " %>
                    <%= link_to 'sign out', sign_out_path, method: :delete, class: "nav-item", id:"beige_text" %>
                  </li>
                </ul>
              </div>

      <% else %>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar_fredoka_font">
                  </li> 
                   <li class="nav-item">
                    <%= link_to "join", sign_up_path, class: "nav-link", id: "beige_text" %> </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#"> / </a> </li>
                  <li class="nav-item">
                    <%= link_to "login", sign_in_path, class: "nav-link", id: "beige_text" %> </li>
                </ul>
              </div>

      <% end %> 
    </nav>

    <!-- Clearance flash notice -->
     <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
    <br>

    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
